<!DOCTYPE html>
<html>
<head>
	<title>Petfinder - Birds</title>
</head>
<body>

<! -- Your code here! -- >

	<% @birds.each do |bird| %>
		<p><%= bird.name %>, <%= bird.breed %>, <%= bird.color %>, <%= bird.temperament %></p>
	<% end %>


</body>
</html>