<!DOCTYPE html>
<html>
<head>
	<title>Petfinder - Cats</title>
</head>
<body>

<! -- Your code here! -- >

	<% @cats.each do |cat| %>
		<p><%= cat.name %>, <%= cat.breed %>, <%= cat.color %>, <%= cat.temperament %></p>
	<% end %>


</body>
</html>