<!DOCTYPE html>
<html>
<head>
	<title>Petfinder - Dogs</title>
</head>
<body>

<! -- Your code here! -- >

	<% @dogs.each do |dog| %>
		<p><%= dog.name %>, <%= dog.breed %>, <%= dog.color %>, <%= dog.temperament %></p>
	<% end %>

</body>
</html>