<!DOCTYPE html>
<html>
<head>
	<title>Petfinder</title>
</head>
<body>
	<h1>Welcome to Petfinder!</h1>
	<h3>Browse Pets</h3>

	<ul>
	    <li><a href="/dogs">Dogs</a></li>
	    <li><a href="/cats">Cats</a></li>
	    <li><a href="/birds">Birds</a></li>
	</ul>

</body>
</html>